{% load staticfiles %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'resume/style.css' %}" /> -->

<!-- {% load i18n %} -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Priyanka Tapadiya Resume</title>

    <!-- Bootstrap core CSS {% static 'css/bootstrap.min.css' %} -->  
    <link rel="shortcut icon" href="">
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/devicons/css/devicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/resume.min.css' %}" rel="stylesheet">
    <style>
      ul.a {
          list-style-position: outside;
      }
      .sidenav {
          height: 100%;
          width: 160px;
          padding-left: 15px;
          padding-right: 15px;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #bd5d38;
          overflow-x: hidden;
          padding-top: 20px;
      }
      
      .sidenav a {
          padding: 6px 8px 6px 16px;
          text-decoration: none;
          font-size: 18px;
          color: #e99e83;
          display: block;
      }
      
      .sidenav a:hover {
          color: #f1f1f1;
      }
      
      .tasks{
        font-weight: bold;
        color: grey;
        text-decoration: underline;
      }

      .designation{
        font-size: 18px;
      }

      .ff{
        font-family:Times New Roman;
      }

      .main {
          margin-left: 160px; /* Same as the width of the sidenav */
          font-size: 18px; /* Increased text to enable scrolling */
          padding: 0px 10px;
      }
      
      @media screen and (max-height: 450px) {
          .sidenav {padding-top: 15px;}
          .sidenav a {font-size: 18px;}
      }
    </style>
  </head>

  <body id="page-top">
  <div class="sidenav">
        <ul class="navbar-nav">
          <li>
              <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/bbb.jpeg' %}" alt="">
          </li>
          <li class="nav-item ff">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item ff">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item ff">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item ff">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item ff">
            <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
          </li>
          <li class="nav-item ff">
            <a class="nav-link js-scroll-trigger" href="#personality traits">Personality Traits</a>
          </li>
          <li class="nav-item ff">
              <a class="nav-link js-scroll-trigger" href="#personal details">Personal Details</a>
          </li>
        </ul>
  </div>

    <div class="main">
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Priyanka
            <span class="text-primary">Tapadiya</span>
          </h1>
          <div class="subheading mb-5 designation">102, Vitthal apartment Teen tanki, Koperkhairne.
            <a href="mailto:priyankatapadiya9999@gmail.com">priyankatapadiya9999@gmail.com</a>
          </div>
          <p class="mb-5 ff">I am a passionate python developer With one year of experience. I want to serve organization best of my knowledge and technical skills as well as I want to learn new skills and experience challenging tasks while working with organization. <br> I am Having knowledge of core python programming, web scraping using beautiful soup and scrapy framework, web development using django, data analysis using libraries like pandas and numpy, data visualization using matplotlib.</p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/tapadiyapriyanka/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Python Developer</h3>
              <div class="subheading mb-3 designation">Advarisk</div>
              <p class="ff">Web scraping of Government sites.<br> Scraping aspx and jsp pages, Handled pagination, Worked on otp based scraping, scrape data using selenium web driver, solved captcha using PIL and Tesseract, Worked on Huge dataset near about 60Gbs, Transformed data into csv.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">June 2017 - February 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Web Developer</h3>
              <div class="subheading mb-3 designation">Self Projects</div>
              <div class="tasks">TODO App</div><p><br>Operations on Notes - creating, Deleting, Updating, Retriving Notes.<br>Login, Logout and Registration Functionality using Django's inbuilt forms and by creating own forms. Login and registration functionality using jwt token authentication.<br>creating templates using HTML, CSS, Bootstrap. Redirecting to another url usign ajax method.</p>
              <div class="tasks">Chat App</div><p><br>Displaying how many users are online. creating one to one chat application using channels. Able to transfer messages from one person to another</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Septmber 2017 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Data Analyst</h3>
              <div class="subheading mb-3 designation">Self Projects</div>
              <div class="tasks">Data Analysis Projects - Movies dataset</div><p><br>Do Science Fiction Movies tends to be rated more highly than other movies genres?? Finding solution for it.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">February 2018 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Python Developer</h3>
              <div class="subheading mb-3 designation">TechExcel Pvt. Ltd. </div>
              <p class="ff">Data Analysis and Visualization of stock exchange data.<br>Analysis of stock exchange data. Drawing graph and broadcasting it to end users who asks for that perticular data. Using django and rabbitmq.</p>
              <p class="ff">Convering Ms SQL Databse to pandas dataframe.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">February 2018 - Present</span>
            </div>
          </div>
        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Sharad Institute of Technology College of Engineering, Yadrv</h3>
              <div class="subheading mb-3 designation">Shivaji University</div>
              <p class="ff">Bachelor of Engineering, Computer Science</p>
              <p class="ff">Overall Percentage: 76%</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">May 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">D.K.T.E Junior college, Ichalkarnji, Kolhapur.</h3>
              <div class="subheading mb-3 designation">Pune University</div>
              <p class="ff">HSC</p>              
              <p class="ff">Percentage: 72%</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">April 2012</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Vyankatrao High School, Ichalkarnji, Kolhapur.</h3>
              <div class="subheading mb-3 designation">Maharashtra state Board</div>
              <p class="ff">SSC</p>              
              <p class="ff">Percentage: 88%</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">April 2010</span>
            </div>
          </div>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>
          <div class="subheading mb-3 designation">Programming Languages, Databases &amp; Tools</div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicon-python-plain"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-django-plain colored"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-css3"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-javascript"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-jquery"></i>
            </li>  
            <li class="list-inline-item">
              <i class="devicons devicons-bootstrap"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-c-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-cplusplus-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-atom-original"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-visualstudio-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-postgresql-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-oracle-original"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicon-mysql-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-github-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-gitlab-plain-wordmark"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicon-heroku-original-wordmark"></i>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p class="ff">Apart from being a python developer, I enjoy most of my time being outdoors. I enjoy biking, cycling in morning time. In summer season I enjoy swimming.</p>
          <p class="mb-0 ff">When forced indoors, I follow a number of bollywood movies and television shows, I like a bit cooking. and I spend a large amount of my free time to talking with my mom and dad.</p>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="personality traits">
        <div class="my-auto">
          <h2 class="mb-5">Personality Traits </h2>
          <ul class="fa-ul mb-0">
            <li class="ff">
              <i class="glyphicon glyphicon-chevron-right"></i>
              Possitive attitude</li>
            <li class="ff">
              <i class="glyphicon glyphicon-chevron-right"></i>
              Focused and optimistic </li>
            <li class="ff">
              <i class="glyphicon glyphicon-chevron-right"></i>
              Adaptive</li>
            <li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="personal details">
          <div class="my-auto">
            <h2 class="mb-5">Personal Details </h2>
            <ul class="a">
              <li class="ff">             
                Father's Name: Omprakash Harinarayanji Tapadiya</li>
              <li class="ff">             
                Email ID     : priyankatapadiya9999@gmail.com</li>
              <li class="ff">             
                Contact No.  : 9921728288</li>
              <li class="ff">             
                Date Of Birth: 16 may 1995</li>
              <li class="ff">             
                Gender       : Female</li>              
              <li class="ff">             
                Address      : 102,Vitthal apartment, teen tanki, Koperkhairne</li>
            </ul>
          </div>
        </section>
      </div>
    
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/resume.min.js' %}"></script>
  
  </body>
</html>